html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header {
  padding: 1em;
}

.site-content {
  flex: 1;
  padding: 2.5em 1em;
}

.site-footer {
  background: $base07;
  text-align: center;
  padding: 2.5em 1em;
  font-size: $font-size-small;
  display: flex;
  justify-content: space-between;
}
