h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-top: 1.5em;
  margin-bottom: 0.51em;
}

h1 {
  font-size: $font-size-ratio * $font-size-ratio * $font-size-ratio * $font-size-ratio * 1em;
  margin-top: 0;
}

h2 {
  font-size: $font-size-ratio * $font-size-ratio * $font-size-ratio * 1em;
}

h3 {
  font-size: $font-size-ratio * $font-size-ratio * 1em;
}

h4 {
  font-size: $font-size-ratio * 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-weight: $font-weight-normal;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0;
}

p, ul, ol, table, pre, iframe {
  margin-top: 0;
  margin-bottom: 1em;
}

li ul,
li ol {
  margin-bottom: 0;
}

ol, ul {
  padding-left: 1em;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid $base06;
  color: $base05;
}

hr {
  border: 0;
  display: block;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 1em;
  line-height: 1;

  &:before {
    content: "···";
    letter-spacing: 1em;
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code {
  font-family: $font-family-monospace;
  font-size: $font-size-small;
  background: $base07;
  padding: .2em .3em;
}

pre {
  overflow: auto;
  white-space: pre;
  padding: 1em;

  code {
    padding: 0;
    background: inherit;
  }
}

b, strong {
  font-weight: $font-weight-bold;
}